* {
    margin: 0 auto;
    padding: 0;
    max-width: 690px;
    box-sizing: border-box;
}

:root {
    --border: 1px solid #ffffff1a;
}

body, table, input, button {
    font: 400 16px/140% 'Roboto', sans-serif;
}

body {
    background-color: #121214;
    color: #ffffff;
}

.container {
    margin: 0 auto;
}

form {
    border: var(--border);
    border-inline: none;
}

fieldset {
    padding-bottom: 20px;
    margin: 0px;
    border: none;
}

fieldset > div {
    display: flex;
    gap: 12px;
}

.lista-participantes {
    padding: 20px 0;
}

.lista-participantes > div {
    border: var(--border);
    border-radius: 8px;
}

table {
    border-collapse: collapse;
}

table thead {
    font-size: 14px;
    line-height: 16px;
}

thead th,
tbody td {
    padding: 12px 16px;
}

tbody td {
    border-top: var(--border);
    font-size: 13px;
    line-height: 15px;
    color: #81808079;
}

tbody td strong {
    color: white;
    font-size: 14px;
    line-height: 16px;
    font-weight: 500
}

tbody td small {
    font-size: 12px;
    line-height: 16px;
}

tbody td button {
    all: unset;
    color: #017431;
}

tbody td button:hover {
    text-decoration: underline;
}

header {
    padding-bottom: 20px;
    padding-top: 20px;
}

.input-wrapper {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 12px;
    border: var(--border);
    border-radius: 10px;
    padding: 7px 11px;
    font: 400 14px/150% 'Roboto', sans-serif;
    color: #C4C4cc;
}

fieldset legend {
    all: unset;
    padding-top: 20px;
    padding-bottom: 16px;
}

input {
    all: unset;
}

fieldset button {
    width: fit-content;
    background-color: #F48F56;
    border-radius: 10px;
    border: 0;
    padding: 7px 20px;

    font: 700 12px/24px 'Roboto', sans-serif;
    color: #00292E;
}

fieldset button:hover {
    background: #e77432;
}

fieldset legend, section h2 {
    font: 700 16px/140% 'Roboto', sans-serif;
    color: #E1E1E6;
    padding-bottom: 16px;
}